/* Normalize */
@import url('./public/vendor/normalize.css');
/* Fonts */
@import url('https://api.fonts.coollabs.io/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-gradient-1: hsl(273, 75%, 66%);
    --clr-gradient-2: hsl(240, 73%, 65%);
    --clr-text-dark: hsl(238, 29%, 16%);
    --clr-text-medium: hsl(237, 12%, 33%);
    --clr-text-light: hsl(240, 6%, 50%);
    --clr-text-accent: hsl(14, 88%, 65%);
    --clr-text-accent-faded: hsla(14, 88%, 65%, 0.8);
    --clr-dividers: hsl(240, 5%, 91%);
    --clr-card-background: hsl(255, 255%, 255%);

    --ff-base: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-200: .75rem;
    --fs-300: .9rem;
    --fs-350: 2rem;
    --fs-400: 2.5rem;
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img, svg {
    height: auto;
    max-width: 100%;
    display: block;
}

.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    background-image: linear-gradient(to bottom left, var(--clr-gradient-1), var(--clr-gradient-2));
    color: var(--clr-text-dark);
    padding: 0 20px;
}

.faq {
    background-color: var(--clr-card-background);
    border-radius: 30px;
    height: 510px;
    max-width: 920px;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 8%;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 65%;
    padding-right: 2rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1), 0 40px 40px rgba(0, 0, 0, .2);
}

.faq__accordion {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 5rem;
}

.accordion {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.accordion__item {
    max-width: 350px;
    border-bottom: 1px solid var(--clr-dividers);
    cursor: pointer;
}

.faq__h1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    text-decoration: none;
}

abbr[title] {
    text-decoration: none;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
    padding: 1rem 0;
    color: var(--clr-text-medium);
}

.accordion__btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
}

.accordion__question:hover {
    color: var(--clr-text-accent);
}

.accordion__img {
    width: 10px;
    aspect-ratio: 10 / 7;
    object-fit: cover;
    transition: transform .2s ease-in;
}

.accordion__answer::selection {
    background-color: var(--clr-text-accent-faded);
    color: initial;
}

.faq__outer-wrapper {
    position: relative;
}

.faq__illustration-desk {
    background-image: url(/images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-position: 120% 50%;
    height: 100%;
}

.faq__illustration-mobile {
    display: none;
}

.faq__img {
    position: absolute;
    top: 42%;
    left: -30%;
}

.accordion__item[open] .accordion__question {
    color: var(--clr-text-dark);
    font-weight: var(--fw-bold);
    transition: color .2s ease-in-out;
}

.accordion__item[open] .accordion__answer {
    padding-bottom: 1rem;
    font-size: var(--fs-200);
    color: var(--clr-text-light);
}

.accordion__item[open] .accordion__img {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1070px) {
    .faq__img {
        top: 73%;
        left: -12%;
    }
}

@media only screen and (max-width: 956px) {
    .faq {
       background-image: none;
    }
}

@media only screen and (max-width: 860px) {
    .faq {
        grid-gap: 3%;
    }
}

@media only screen and (max-width: 790px) {
    .faq {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        align-content: center;
        padding: 0 20px;
        justify-items: center;
        grid-gap: 12%;
        background-image: url(/images/bg-pattern-mobile.svg);
        background-position: 50% 0%;
    }

    .faq__h1 {
        font-size: var(--fs-350);
        margin-inline: auto;
    }

    .faq__abbr {
        font-size: var(--fs-350);
    }

    .faq__img {
        display: none;
    }

    .faq__outer-wrapper {
        position: static;
    }

    .faq__illustration-desk {
        display: none;
    }

    .faq__illustration-mobile {
        display: block;
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .faq__accordion {
        width: 100%;
        margin-top: 8rem;
    }

    .accordion__item {
        width: 100%;
        margin-inline: auto;
    }
}