/* Normalize */
@import url('./public/vendor/normalize.css');
/* Fonts */
@import url('https://api.fonts.coollabs.io/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-gradient-1: hsl(273, 75%, 66%);
    --clr-gradient-2: hsl(240, 73%, 65%);
    --clr-text-dark: hsl(238, 29%, 16%);
    --clr-text-medium: hsl(237, 12%, 33%);
    --clr-text-light: hsl(240, 6%, 50%);
    --clr-text-accent: hsl(14, 88%, 65%);
    --clr-dividers: hsl(240, 5%, 91%);
    --clr-card-background: #FFF;

    --ff-base: 'Kumbh Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-200: 12px;
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img, svg {
    height: 100%;
    max-width: 100%;
    display: block;
}

.body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-base);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    background-image: linear-gradient(to bottom left, var(--clr-gradient-1), var(--clr-gradient-2));
    color: var(--clr-text-medium);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
}

.faq {
    background-color: var(--clr-card-background);
    border-radius: 30px;
    height: 510px;
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-right: 6%;
}

.faq__img-container {
    overflow: hidden;
}

.faq__img_mobile {
    display: none;
}

.faq__img_desktop {
    transform: translateX(-16%);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.faq__img-container::before {
    content: url('/images/illustration-box-desktop.svg');
    width: 90px;
    height: 104px;
    position: absolute;
    bottom: 38%;
    left: -14%;
    z-index: 3;
}

.faq__background-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.faq__background-img::after {
    content: url('/images/bg-pattern-desktop.svg');
    width: 1px;
    height: 1px;
    position: absolute;
    left: -63%;
    top: -57%;
    z-index: 1;
}

.faq__accordion-container {
    max-width: 350px;
}